<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>ngForm handle Enter key and ngSubmit by mcpDESIGNS</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
        body { background: #f1f1f1; font-family:Helvetica, "Century Gothic", Tahoma; }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>ngForm handle Enter key and ngSubmit</h1>
        <p>Fix for ngSubmit (and Enter key) not working with ngForm. Also, be able to handle what to run when Enter is pushed on any div / ngForm / etc</p>

        <p class="view">
            <a href="https://github.com/mcpDESIGNS/ngForm-handle-Enter-Keypress">View the Project on GitHub <br><br><small>mcpDESIGNS/ngForm-handle-Enter-Keypress</small></a></p>

            <br><br>
        <ul>
          <li><a href="https://github.com/mcpDESIGNS/ngForm-handle-Enter-Keypress/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/mcpDESIGNS/ngForm-handle-Enter-Keypress/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/mcpDESIGNS/ngForm-handle-Enter-Keypress">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>


<div ng-app="app">

	<div ng-controller="DemoController as vmDemo">

		<h3>Example 1:</h3>

        <ng-form name="userForm" ng-submit="vmDemo.submitExampleOne(vmDemo.user)" novalidate>

            <div class="modal-header">
                <h4 class="modal-title">ngForm handling Enter keypress & button click using ngSubmit</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>User Name:</label>
                    <input ng-model="vmDemo.user.name" autofocus required class="form-control" />
                </div>
            </div>

            <div class="modal-footer">

                <button
                    ng-disabled="!userForm.$valid"
                    type="submit"
                    class="btn btn-primary">
                        Submit User
                </button>
            </div>

        </ng-form>

		<h3>Example 2:</h3>

		<ng-form name="dogForm" novalidate>

            <div class="modal-header">
                <h4 class="modal-title">ngForm handling Enter keypress & button click with only ng-click on Submit button</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Dogs Name:</label>
                    <input ng-model="vmDemo.dog.name" autofocus required class="form-control" />
                </div>
            </div>

            <div class="modal-footer">

                <button
					ng-click="vmDemo.submitExampleTwo(vmDemo.dog)"
                    ng-disabled="!dogForm.$valid"
                    type="submit"
                    class="btn btn-primary">
                        Submit User
                </button>
            </div>

        </ng-form>

		<h3>Example 3:</h3>

		<div on-enter="vmDemo.submitExampleThree(vmDemo.cat)">

            <div class="modal-header">
                <h4 class="modal-title">"div" handling Enter keypress</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Cats Name:</label>
                    <input ng-model="vmDemo.cat.name" autofocus class="form-control" />
                </div>
            </div>

            <div class="modal-footer">

                <button
					ng-click="vmDemo.submitExampleThree(vmDemo.cat)"
                    type="submit"
                    class="btn btn-primary">
                        Submit User
                </button>
            </div>

        </div>

	</div>


</div>


<p>Having trouble with Pages? Check out our <a href="https://help.github.com/pages">documentation</a> or <a href="https://github.com/contact">contact support</a> and we’ll help you sort it out.</p>
      </section>
      <footer>
        <p>This project is maintained by Mark Pieszak <a href="https://github.com/mcpDESIGNS">mcpDESIGNS</a></p>
      </footer>
    </div>

    <script src="javascripts/scale.fix.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="ngFormFixes.directive.js" type="text/javascript"></script>


	<script>
		'use strict';

		var APP = angular.module('app', ['ngFormFixes']);

		APP.controller('DemoController', function () {

			var vm = this;

            vm.submitExampleOne = function (user) {
                alert('ngForm # 1 Submitted\n\n Tada! Stringify\d object: ' + JSON.stringify(user || ''));
            };

            vm.submitExampleTwo = function (user) {
                alert('ngForm # 2 Submitted\n\n Tada! Stringify\d object: ' + JSON.stringify(user || ''));
            };

            vm.submitExampleThree = function (user) {
                alert('div w/ "onEnter" Submitted\n\n Tada! Stringify\d object: ' + JSON.stringify(user || ''));
            };

		});

	</script>

</body>
</html>
